.btn--primary {
  padding: 12px 20px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  width: 50%;
  margin-bottom: 10px;

  &.btn--text {
    background-color: #1b3e45;

    &:hover {
        background-color: 
        #263645;
    }
  }

  &.btn--icon {
    background-color: grey;

    &:hover {
        background-color: #2f2f2f;
    }
  }

  &.btn--outline {
    background: transparent;
    border: 1px solid black;
    color: black;

    &:hover {
        background-color: black;
        color: white;
        border: 1px solid white;
    }
  }
}

.btn--plus,.btn--minus {
    border: none;
    background: transparent;
    color: grey;
}
